html, body {
                padding: 0;
                margin: 0;
            }

            /* Start Header Top Custom Rules */
            .header_top ::selection {
                background:#8f8983; background:rgba(143, 137, 131, 1);
                color:#ffffff; color:rgba(255, 255, 255, 1);
            }

            .header_top ::-moz-selection {
                background:#8f8983; background:rgba(143, 137, 131, 1);
                color:#ffffff; color:rgba(255, 255, 255, 1);
            }

            .header_top_outer {
                -webkit-box-shadow:inset 0 -1px 0 0 rgba(232, 232, 232, 1);
                -moz-box-shadow:inset 0 -1px 0 0 rgba(232, 232, 232, 1);
                box-shadow:inset 0 -1px 0 0 rgba(232, 232, 232, 1);
            }

            .header_top_outer nav > div > ul > li ul {
                -webkit-box-shadow:0 0 2px 0 rgba(232, 232, 232, 0.8);
                -moz-box-shadow:0 0 2px 0 rgba(232, 232, 232, 0.8);
                box-shadow:0 0 2px 0 rgba(232, 232, 232, 0.8);
            }

            /* Start Navigation Title Font */
            #navigation > li > a,
            #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
            #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a {
                font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
                font-size:15px;
                line-height:20px;
                font-weight:400;
                font-style:normal;
                text-transform:none;
            }

            #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
            #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a {
                font-weight:700;
            }

            @media only screen and (max-width: 1024px) {
                html #page #header nav #navigation li a {
                    font-size:14px;
                    font-weight:400;
                }

                html #page #header nav #navigation > li > a {
                    font-weight:500; 
                }

                html #page #header nav #navigation li li li a {
                    font-size:12px;
                }
            }
            /* Finish Navigation Title Font */


            /* Start Navigation Dropdown Font */
            #navigation ul li a {
                font-family:'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
                font-size:13px;
                line-height:20px;
                font-weight:normal;
                font-style:normal;
                text-transform:none;
            }
            /* Finish Navigation Dropdown Font */


            /* Start H1 Font */
            h1,
            h1 a,
            .cmsms_h1_font_style,
            .cmsms_h1_font_style a,
            .pricing_title,
            #header .logo .title,
            .error_subtitle,
            .cmsms_pricing_table .cmsms_currency,
            .cmsms_pricing_table .cmsms_price,
            .cmsms_pricing_table .cmsms_coins,
            .post.format-quote .cmsms_quote_content,
            .post.format-aside .cmsms_post_cont .cmsms_post_content,
            .post.format-status .cmsms_post_cont .cmsms_post_content,
            .share_posts > h3,
            .about_author > h3,
            .related_posts > h3,
            .comment-respond .comment-reply-title, 
            .cmsms_search_post_number {
                font-family:'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
                font-size:28px;
                line-height:40px;
                font-weight:400;
                font-style:normal;
                text-transform:none;
                text-decoration:none;
            }

            /* Start Header Primary Color */
            .header_mid a,
            .header_mid h1 a:hover,
            .header_mid h2 a:hover,
            .header_mid h3 a:hover,
            .header_mid h4 a:hover,
            .header_mid h5 a:hover,
            .header_mid h6 a:hover,
            .header_mid .color_2,
            .header_bot a,
            .header_bot h1 a:hover,
            .header_bot h2 a:hover,
            .header_bot h3 a:hover,
            .header_bot h4 a:hover,
            .header_bot h5 a:hover,
            .header_bot h6 a:hover,
            .header_bot .color_2,
            .header_mid h1,
            .header_mid h2,
            .header_mid h3,
            .header_mid h4,
            .header_mid h5,
            .header_mid h6,
            .header_mid h1 a,
            .header_mid h2 a,
            .header_mid h3 a,
            .header_mid h4 a,
            .header_mid h5 a,
            .header_mid h6 a,
            .header_bot h1,
            .header_bot h2,
            .header_bot h3,
            .header_bot h4,
            .header_bot h5,
            .header_bot h6,
            .header_bot h1 a,
            .header_bot h2 a,
            .header_bot h3 a,
            .header_bot h4 a,
            .header_bot h5 a,
            .header_bot h6 a,
            #navigation > li > a,
            .header_mid_outer .header_mid_inner .search_wrap .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
            .header_mid_outer .header_mid_inner .search_wrap .search_bar_wrap button[type=submit][class*=" cmsms-icon-"],
            .header_mid_outer .header_mid_inner .search_wrap .search_but,
            .header_mid_outer .cmsms_dynamic_cart_link .cmsms_dynamic_cart_button, 
            .header_mid .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
            .header_mid .search_bar_wrap button[type=submit][class*=" cmsms-icon-"],
            .header_bot .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
            .header_bot .search_bar_wrap button[type=submit][class*=" cmsms-icon-"], 
            .header_mid_inner .social_wrap a:hover {
                color:#707070; color:rgba(112, 112, 112, 1);
            }

            .header_mid .cmsms_button,
            .header_mid .button:hover,
            .header_bot .cmsms_button,
            .header_bot .button:hover,
            .header_mid .button,
            .header_bot .button {
                background-color:#707070; background-color:rgba(112, 112, 112, 1);
            }

            .header_mid input[type=text]:focus,
            .header_mid input[type=email]:focus,
            .header_mid input[type=password]:focus,
            .header_mid input[type=tel]:focus,
            .header_mid textarea:focus,
            .header_top input[type=text]:focus,
            .header_top input[type=email]:focus,
            .header_top input[type=password]:focus,
            .header_top input[type=tel]:focus,
            .header_top textarea:focus {
                border-color:#707070; border-color:rgba(112, 112, 112, 1);
            }
            /* Finish Header Primary Color */

            /* Start Header Borders Color */
            .header_mid input[type=text],
            .header_mid input[type=number],
            .header_mid input[type=email],
            .header_mid input[type=password],
            .header_mid input[type=tel],
            .header_mid input[type=submit],
            .header_mid button,
            .header_mid textarea,
            .header_mid select,
            .header_mid option,
            .header_bot input[type=text],
            .header_bot input[type=number],
            .header_bot input[type=email],
            .header_bot input[type=password],
            .header_bot input[type=tel],
            .header_bot input[type=submit],
            .header_bot button,
            .header_bot textarea,
            .header_bot select,
            .header_bot option,
            .header_mid_outer .header_mid_inner .search_wrap.search_opened .search_but,
            .header_mid .search_bar_wrap,
            .header_bot .search_bar_wrap, 
            #navigation li a {
                border-color:#ebebeb; border-color:rgba(235, 235, 235, 1);
            }

            .header_mid_outer,
            .header_bot_outer,
            .header_mid hr,
            .header_mid .cmsms_divider,
            .header_bot hr,
            .header_bot .cmsms_divider {
                border-bottom-color:#ebebeb; border-bottom-color:rgba(235, 235, 235, 1);
            }
            /* Finish Header Borders Color */

            .cmsms_color_scheme_footer,
            html .cmsms_color_scheme_footer .footer_inner, 
            html .cmsms_color_scheme_footer .tweet_time:before,
            html .cmsms_color_scheme_footer input[type=text],
            html .cmsms_color_scheme_footer input[type=search],
            html .cmsms_color_scheme_footer input[type=number],
            html .cmsms_color_scheme_footer input[type=email],
            html .cmsms_color_scheme_footer input[type=password],
            html .cmsms_color_scheme_footer input[type=tel],
            html .cmsms_color_scheme_footer input[type=submit],
            html .cmsms_color_scheme_footer textarea,
            html .cmsms_color_scheme_footer select,
            html .cmsms_color_scheme_footer option,
            html .cmsms_color_scheme_footer .contact_widget_email:before,
            html .cmsms_color_scheme_footer .contact_widget_phone:before,
            html .cmsms_color_scheme_footer .adress_wrap:before,
            html .cmsms_color_scheme_footer .profiles.opened-article .profile .cmsms_profile_header .cmsms_profile_subtitle, 
            html .cmsms_color_scheme_footer .cmsms_pricing_table .cmsms_period, 
            html .cmsms_color_scheme_footer .cmsms_stats.stats_mode_counters.stats_type_numbers .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title, 
            html .cmsms_color_scheme_footer .cmsms_breadcrumbs .cmsms_breadcrumbs_inner, 
            html .cmsms_color_scheme_footer .cmsms_breadcrumbs .cmsms_breadcrumbs_inner a, 
            html .cmsms_color_scheme_footer .widget_nav_menu li a:before, 
            html .cmsms_color_scheme_footer .about_author .about_author_inner .social_wrap .social_wrap_inner ul li a, 
            html .cmsms_color_scheme_footer .cmsms_button, 
            html .cmsms_color_scheme_footer .button,
            html .cmsms_color_scheme_footer .cmsms_paypal_donations > form:hover + span, 
            html .cmsms_color_scheme_footer input[type=submit],
            html .cmsms_color_scheme_footer input[type=button],
            html .cmsms_color_scheme_footer button,
            html .cmsms_color_scheme_footer .comment-reply-link,
            html .cmsms_color_scheme_footer #cancel-comment-reply-link {
                color:#ffffff;
                color:rgba(255, 255, 255, 0.5);
            }

            html .cmsms_color_scheme_footer input::-webkit-input-placeholder {
                color:#ffffff; color:rgba(255, 255, 255, 0.5);
            }
            html .cmsms_color_scheme_footer input:-moz-placeholder {
                color:#ffffff; color:rgba(255, 255, 255, 0.5);
            }

            html .cmsms_color_scheme_footer .cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus .cmsms_toggle_plus_hor,
            html .cmsms_color_scheme_footer .cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus .cmsms_toggle_plus_vert {
                background-color:#ffffff; background-color:rgba(255, 255, 255, 0.5);
}